branches:
  only:
  - master
language: python
python:
  - "3.6.7"
install:
  - "pip install -r requirements.txt"
script:
  - pytest --black --cov=./ --cov-report=term-missing
  - find . -name "Solution.py" -type f -exec coverage run -p '{}' \;
  - coverage combine
  - coverage html
after_success:
  - bash <(curl -s https://codecov.io/bash) -f '*.*' -s htmlcov -t jMYBAHdkl7L02RpSWNwpzwJPbLQG06cfF -n COMPETITIVE_PROGRAMMING_CODE_COVERAGE